{% extends "base.twig" %}

{% block content %}

    <article id="post-{{ post.id }}" class="single-post" itemscope itemtype="https://schema.org/NewsArticle">

        {% include 'parts/meta-article.twig' %} 

        <div class="scroll-indicator-header">

            <div class="scroll-indicator-progress-container">
                <div class="scroll-indicator-progress-bar" id="scrollIndicator"></div>
            </div>  

        </div>

        {% if post.genlite_page_heading_settings.value == 'featured-hero'  %}
            
            {% include 'parts/featured-hero.twig' %} 

        {% else %}

            {% include 'parts/post-title.twig' %}

        {% endif %}

        {% include 'parts/post-content.twig' %} 

    
    </article>

{% endblock %}
