 
.genlite-archive-title h1:after
    background: $genlite-primary-color
    content: ""
    display: block
    margin-top: 20px
    width: 113%
    height: 4px
    margin: 0px 0 0 -6.5%
    mix-blend-mode: multiply

.form-control:focus
    border-color: $genlite-primary-color
    box-shadow: 0 0 0 0.2rem rgba(255, 77, 1,.25)


.post-template-default
    &__next-prev
        a
            opacity: 1
            color: black
        i 
            color: $genlite-primary-color



select option[hover]
    background: rgba(150, 150, 150, 0.3)



