h1,h2,h3,h4,h5,h6
    color: black
    margin: 20px 0px 10px 0px
  

h1
    font-size: 50px
    font-weight: 600

h2
    font-size: 30px

h3 
    font-size: 26px

h4 
    font-size: 22px

h5 
    font-size: 18px

h6 
    font-size: 16px

p 
    font-size: 19px



// h1 u 
//     text-decoration: none
//     border-bottom: 4px solid $genlite-primary-color
//     padding-bottom: 4px

  
a 
    color: rgb(114, 114, 114)
    transition: all 0.4s
    &:hover 
        text-decoration: none
        color: $genlite-primary-color



hr 
    color: $genlite-light-gray
