html
    font-family: Karla, sans-serif
    font-size: 20px
    letter-spacing: normal 
    text-rendering: auto
    overflow-y: scroll
    scroll-behavior: smooth
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body 
    font: inherit
    font-style: inherit
    font-weight: 400
    font-family: inherit
    line-height: 30px
    word-wrap: break-word
    overflow-wrap: break-word
    background-color: white
    color: black
    overflow-x: hidden
    width: 100%

h1,h2,h3,h4,h5,h6
    color: black
    margin: 20px 0px 20px 0px
    font-family: Rubik, sans-serif
    line-height: 1.5
  

h1
    font-size: 50px
    font-weight: 600

h2
    font-size: 30px

h3 
    font-size: 26px

h4 
    font-size: 22px

h5 
    font-size: 18px

h6 
    font-size: 16px

p   
    font-family: Karla, sans-serif
    font-size: 20px
    font-weight: 400
    line-height: 30px

.navbar-toggler i,
a
    transition: all 0.4s

a 
    color: rgb(114, 114, 114)
    &:hover 
        text-decoration: none
        color: $genlite-primary-color


article a 
    color: $genlite-primary-color
    &:hover 
        color: black

article
    ul    
        list-style-type: none
        color: $genlite-primary-color

        li
            color: black

        
          
        li::before
            content: '\25A0'
            color: $genlite-primary-color
            font-weight: bold
            display: inline-block
            width: 1em
            margin-left: -1em
            
            
            
        

    


    








hr 
    color: $genlite-light-gray
