// Main Shop Archive
.genlite-shop
    
    &__product
        border-style: solid
        border-width: 1px
        border-color: #ddd
        padding: 5px
        margin-bottom: 20px
        color: $genlite-primary-color
        text-align: center
        &:hover 
            border-color: $genlite-primary-color
            opacity: 1

        &:hover .genlite-shop__product-image img
            transform: scale(1.2)
        
        a:hover 
            text-decoration: none
            opacity: 1
        
        hr 
            margin-top: 0px
            margin-bottom: 5px

        &-image
            overflow: hidden
            img
                width: 100%
                height: 100%
                transition: all 1.5s ease 0s
     
        &-onsale 
            position: absolute
            top: 15px
            left: 25px
            background-color: #24A232
            color: #fff
            padding: 4px 6px
            text-transform: uppercase
            font-weight: 600

        &-title
            color: black
            font-weight: 400
        &-price
            color: $genlite-primary-color


        &-rating
            float: right
            position: relative
            left: -50%

            text-align: left
            top: 3px
            > .genlite-shop__product-rating
                position: relative
                left: 50%

    &__filter
        margin-top: 10px
        a
            color: black
        &:hover
            color: $genlite-primary-color
        &-result-count
            display: inline-block

    

        
.woocommerce a.button
    color: $genlite-primary-color
    font-weight: 600
    background-color: white

.page-link
    color: $genlite-primary-color

.page-item.active .page-link 
    z-index: 3
    color: white
    background-color: $genlite-secondary-color
    border-color: $genlite-secondary-color

   
.woocommerce-result-count 
    float: none !important
  
.woocommerce button.button
    background-color: $genlite-secondary-color
    color: white
    &:hover
        background-color: $genlite-primary-color
        color: white

        
.modal-header .close
    border: none
    padding: 0 0 0 0
    margin: 0 0 0 0
    background-color: white
    font-size: 40px
    


// Filter Widgets
   
.price_slider_wrapper
    .price_slider
        margin-bottom: 1em
    
    .price_slider_amount
        text-align: left
        .button
            font-size: 1.15em
            float: right
    
    
    .ui-slider
        position: relative
        text-align: left
        .ui-slider-handle
            position: absolute
            z-index: 2
            width: 5px
            height: 17px
            -webkit-border-radius: 1em
            -moz-border-radius: 1em
            cursor: pointer
            background: $genlite-primary-color
            outline: none
            top: -5px
                       
        
        .ui-slider-range
            position: absolute
            z-index: 1
            font-size: .7em
            display: block
            border: 0
            background: $genlite-primary-color
            -webkit-border-radius: 1em
            -moz-border-radius: 1em
            border-radius: 1em
      
    
    .price_slider_wrapper .ui-widget-content
      -webkit-border-radius: 1em
      -moz-border-radius: 1em
      border-radius: 1em
      background: $genlite-primary-color
    
    .ui-slider-horizontal
      height: .3em
      background: $genlite-secondary-color
      .ui-slider-range
        top: 0
        height: 100%
      
      .ui-slider-range-min 
        left: -1px
      
      .ui-slider-range-max 
        right: -1px
      

/* ----------- Checkout Page styles --------------- */
  
.woocommerce-billing-fields__field-wrapper
    display: flex
    flex-wrap: wrap
  
  
.woocommerce form .form-row 
    display: inline-block
    input.input-text 
        max-width: 300px  
  
#billing_first_name_field 
    order: 1
  
  
#billing_last_name_field 
    order: 2
  
  
#billing_company_field 
    order: 3
    width: 100%
  
  
#billing_country_field 
    order: 4
    width: 100%
  
  
#billing_address_1_field 
    order: 5
    width: 100%
  
  
#billing_address_2_field 
    order: 6
    width: 100%
  
  
#billing_city_field 
    order: 7
  
  
#billing_postcode_field 
    order: 8
  
  
#billing_state_field 
    order: 9
  

#billing_phone_field 
    order: 10
  
  
#billing_email_field 
    order: 11
    width: 100%
  
  
.variations 
    display: flex
    flex-wrap: wrap
  
  
