/* ----------------------------------------- 
  
  
              Woocommerce  Styles 
  
  
   ------------------------------------------- */




   .form-control {
    font-size: inherit !important;
  }
  
  
  
  
  /*   Product Page   */
  
  .woocommerce {
    span.onsale {
      background-color: #24A232;
      color: #fff;
      padding: 4px 6px;
      text-transform: uppercase;
      font-weight: 800;
      margin-top: 25px;
      margin-left: 460px;
    }
    ul.products li.product .price {
      font-size: 22px;
      font-weight: 600;
    }
  }
  
  .summary .woocommerce-Price-amount {
    color: #24A232;
    font-size: 36px;
    font-weight: 600;
  }
  
  .woocommerce .woocommerce-breadcrumb {
    margin: 0px;
    a {
      color: $genlite-primary-color;
    }
  }
  
  input.input-text.qty.text {
    height: 43px;
  }
  
  .woocommerce {
    .star-rating span, p.stars a {
      color: #f9ca63;
    }
    #content div.product div.summary, div.product div.summary {
      float: left;
      width: 100%;
    }
  }
  
  .woocommerce-page {
    #content div.product div.summary, div.product div.summary {
      float: left;
      width: 100%;
    }
  }
  
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
  }
  
  .woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row {
    display: block;
  }
  
  .woocommerce {
    form .form-row {
      display: block;
    }
    .col2-set .col-1 {
      max-width: unset;
    }
  }
  
  .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: unset;
  }
  

  
  .woocommerce div.product form.cart .variations select {
    min-width: auto;
  }
  
  .woocommerce-cart-form__cart-item a:hover, .genlite-hyperlink a:hover {
    opacity: 0.5;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 575px) {
    .genlite-shop-basket {
      margin-top: -98px;
    }
  }
  
  .product_list_widget {
    margin-left: -40px;
  }
  
  .woocommerce-variation-price {
    margin-bottom: 25px;
  }
  
  /* --- Product ---- */
  
  
  
  .genlite-footer-widget u {
    border-bottom: 2px solid $genlite-primary-color;
  }
  
  .genlite-shop-parent-container {
    display: flex;
    margin-left: 30vh;
    margin-right: 30vh;
  }
  
  .product-categories {
    margin-left: -40px;
    list-style-type: none;
  }
  
  .wc-layered-nav-rating {
    margin-left: -40px;
    line-height: 20px;
    list-style-type: none;
  }
  
  .product-categories ul {
    list-style-type: none;
  }
  
  .genlite-shop-parent-container .star-rating {
    float: left;
  }
  
  