.single-page,
.single-post {

    margin-bottom: 30px;

    .featured-hero {
        h1 {
             width: 90%;
             text-align: center;

             @include media-breakpoint-up(sm) {
                  width: 600px;
             }

        }
    }
    
}

.single-work {    

    margin-bottom: 30px;

    .featured-hero {

        h1 {
            width: fit-content;
        }

    }
}
