.single-page,
.single-post {

    margin-bottom: 30px;

    .featured-hero {
        h1 {
             width: 90%;
             text-align: center;

             @include media-breakpoint-up(sm) {
                  width: 600px;
             }

        }
    }
    
}

.single-work {    

    margin-bottom: 30px;

    .featured-hero {

        h1 {
            width: fit-content;
        }

    }
}

.scroll-indicator-header {

  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;

}

.scroll-indicator-progress-container {

  width: 100%;
  height: 4px;
  background: #ccc;

}

.scroll-indicator-progress-bar {

  height: 4px;
  background: $genlite-primary-color;
  width: 0%;

}
