
.woo-archive {

    padding: 80px 0 80px 0;

    &__card {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
     
        &:hover {

            .woo-archive__text-holder .title {
                text-decoration: underline;
                color: $genlite-primary-color;
            }

        }
        
    }

    &__image-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 0;
   }

    &__image {
        width: 100%;
        height: 290px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
        border-radius: 10px;
    }

    &__tag {
        background-color: #f0f2fa;
        position: absolute;
        padding: 10px;
        line-height: 1.25rem;
        text-transform: uppercase;
        font-size: .75rem;
        z-index: 1;
        right: 0;
        bottom: 15px;
        color: #072535;
    }

    &__text-holder {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding-top: 10px;
    }

    p, h1,h2,h3,h4,h5,h6 {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

}

.woo-single {

    .submit {
        background-color: teal;
    }

  //  padding: 80px 0 80px 0;

}

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0;
}

.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: $genlite-primary-color;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}

.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}

.product .cart .quantity .input-text {
    width: 50px;
    height: 52px;
    padding: .5rem;
    border: 1px solid #e2e2e2;
    background: 0 0;
    background-color: #fff;
    box-shadow: none;
    outline-offset: -3px;
    font-size: 17px;
    font-weight: 400;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}





// .woocommerce .woocommerce-breadcrumb {
//     margin: 0
// }

// .woocommerce .woocommerce-breadcrumb a {
//     color: #ff4d01;
//     text-decoration: none
// }

// input.input-text.qty.text {
//     height: 49px
// }

// .woocommerce span.onsale {
//     background-color: #24a232;
//     color: #fff;
//     padding: 4px 6px;
//     text-transform: uppercase;
//     font-weight: 800;
//     margin-top: 25px;
//     margin-left: 460px
// }

// .woocommerce ul.products li.product .price {
//     font-size: 22px;
//     font-weight: 600
// }

// .summary .woocommerce-Price-amount {
//     color: #24a232;
//     font-size: 36px;
//     font-weight: 600
// }

// .woocommerce .star-rating span,.woocommerce p.stars a {
//     color: #f9ca63
// }

// .woocommerce #content div.product div.summary,.woocommerce-page #content div.product div.summary,.woocommerce-page div.product div.summary,.woocommerce div.product div.summary {
//     float: left;
//     width: 100%
// }

// .woocommerce-page ul.products li.product,.woocommerce ul.products li.product {
//     text-align: center
// }

// .woocommerce-page .products .star-rating,.woocommerce .products .star-rating {
//     float: none;
//     display: block;
//     margin-left: auto;
//     margin-right: auto
// }

// .woocommerce-billing-fields .form-row,.woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
//     display: block
// }

// .woocommerce-page .col2-set .col-1,.woocommerce-page .col2-set .col-2,.woocommerce .col2-set .col-1,.woocommerce .col2-set .col-2 {
//     max-width: unset
// }

// .woocommerce div.product form.cart .variations select {
//     min-width: auto
// }

// .genlite-hyperlink a:hover,.woocommerce-cart-form__cart-item a:hover {
//     opacity: .5;
//     text-decoration: none
// }

// .form-row.place-order button.alt,.woocommerce a.button.alt {
//     background-color: #fff;
//     color: #ff4d01
// }

// .form-row.place-order button.alt:hover,.woocommerce a.button.alt:hover {
//     color: #000;
//     border-color: #000;
//     background-color: #fff
// }

// article .cross-sells ul li:before {
//     content: ""
// }

// .genlite-shop__basket {
//     display: inline-block;
//     float: right
// }

// .genlite-shop__basket a {
//     text-decoration: none
// }

// .genlite-shop__basket a:hover {
//     color: #ff4d01
// }

// .genlite-shop__filter-basket {
//     margin-top: 10px
// }

// .genlite-shop__filter-basket a {
//     color: #000
// }

// .genlite-shop__filter-basket:hover {
//     color: #ff4d01
// }

// .genlite-shop__filter-basket-result-count {
//     display: inline-block
// }

// .genlite-shop__filter-basket-link {
//     display: inline-block;
//     width: 50%
// }

// #genlite-shop__product-add-to-cart {
//     border: none
// }

// .product-template-default #genlite-shop__product-next,.product-template-default #genlite-shop__product-prev,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce div.product form.cart .button {
//     color: #ff4d01;
//     font-weight: 600;
//     background-color: #fff;
//     border: 2px solid #ff4d01
// }

// .product-template-default #genlite-shop__product-next:hover,.product-template-default #genlite-shop__product-prev:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce div.product form.cart .button:hover {
//     border: 2px solid #000;
//     color: #000;
//     background-color: #fff
// }

// .page-link {
//     color: #ff4d01
// }

// .page-item.active .page-link {
//     z-index: 3;
//     color: #fff;
//     background-color: #000;
//     border-color: #000
// }

// .woocommerce-result-count {
//     float: none!important
// }

// .woocommerce button.button {
//     background-color: #000;
//     color: #fff
// }

// .woocommerce button.button:hover {
//     background-color: #ff4d01;
//     color: #fff
// }
