{% extends "base.twig" %}

{% block content %}

	<section class="template-404">
		<h1 class="text-center">404 Errror</h1>
		<p class="text-center">Web Page Cannot be found!</p>
		<br>
		<p class="text-center"><a href="{{ site.url }}" aria-label="Return to homepage">Return to homepage</a></p>
	</section>
	

{% endblock %}
