{% block html_head_container %}

	{% include '/base/html-header.twig' %}

		{% block head %}
		{% endblock %}

		</head>

{% endblock %}

{% block body_block %}

	<body id="site-wrapper" class="{{ body_class }} app {% if post.genlite_page_heading_settings.value == 'featured-hero' %} page-featured-hero {% endif %}" data-template="base.twig">

        {% if script_code.code_body is not empty %}
           
            {{ script_code.code_body }}

        {% endif %}

        {% block header %}

            {% include '/base/header.twig' %} 
        
        {% endblock %}

		<main>

			{% block content %}
				Sorry, no content
			{% endblock %}
	
		</main>

        {% block footer %}
        
            {% include '/base/footer.twig' %}
            {{ function('wp_footer') }}
            
        {% endblock %}

	</body>

{% endblock %}

</html>
