{% block html_head_container %}

	{% include 'html-header.twig' %}

		{% block head %}
		{% endblock %}

		</head>

{% endblock %}

{% block body_block %}

	<body id="site-wrapper" class="{{ body_class }} app" data-template="base.twig">

        {% if script_code.code_body is not empty %}
           
            {{ script_code.code_body }}

        {% endif %}

        {% block header %}

            {% include 'header.twig' %} 
        
        {% endblock %}

		<main>

			{% block content %}
				Sorry, no content
			{% endblock %}
	
		</main>

        {% block footer %}
        
            {% include 'footer.twig' %}
            {{ function('wp_footer') }}
            
        {% endblock %}

	</body>

{% endblock %}

</html>
