{% extends "base.twig" %}

{% block content %}

    <article id="post-{{ post.id }}">

        {% if post.genlite_page_heading_settings.value == 'default' or 
            post.genlite_page_heading_settings == false or 
            post.genlite_page_heading_settings == 'default' %}
            
            <section class="page-title-wrapper">
                <div class="container">
                    <div class="row">

                        <div class="col-12">

                            <div class="title-wrapper">
                                <h1>{{ post.title }}</h1>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">

                        {% set col_classes = 'col-12' %}

                        {% if post.genlite_desktop_indent == '1' %}

                            {% set col_classes = 'col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3' %}

                        {% endif %}

                        <div class="{{ col_classes }}">

                            {{ post.content }}

                        </div>
                    </div>
                </div>
            </section>

        {% elseif post.genlite_page_heading_settings.value == 'no-heading'  %}
            
            {% include '/parts/page-content.twig' %} 

        {% elseif post.genlite_page_heading_settings.value == 'featured-hero'  %}

            {% include '/parts/featured-hero.twig' %} 
            {% include '/parts/page-content.twig' %} 

        {% endif %}

    </article>


{% endblock %}
