{% extends "base.twig" %}

{% block content %}

    <article class="genlite-article">

        <div class="container">
            <div class="row">

                {% if post.genlite_dont_show_page_heading == "0" %}

                    <div class="col-12">

                        <div class="title-wrapper">
                            <h1>{{ post.title }}</h1>
                        </div>

                    </div>

                {% endif %}

                <div class="col-12">

                    {{ post.content }}

                </div>
            </div>
        </div>

    </article>


{% endblock %}
