<section class="block-contact-us">

    <div id="recaptcha-public-key" data-contact-recaptcha-public-key="{{ fields.contact_us_recaptcha_public_key }}"></div>

    <div class="col-12 text-center margin-bottom-3 animation-section fade-in-up">

        <h2>{{ fields.contact_us_heading }}</h2>
        <hr>

    </div>


    <div class="col-12">

        <form id="genlite-contact-form" method="POST" class="needs-contact-validation" data-toggle="validator" role="form" novalidate>

            <div class="row margin-bottom-2">

                <div class="col-12 col-md-6 animation-section fade-in-up">
                    <label class="form-label" for="your_name"><span>Your Name <i>(required)</i></span></label>
                    <input id="your_name" type="text" class="form-control block-contact-us__input-field" name="your_name" required>
                    <div class="invalid-feedback">Your Name is empty.</div>
                </div>

                <div class="col-12 col-md-6 animation-section fade-in-up">
                    <label class="form-label" for="email_address">Your Email <i>(required)</i></label></label>
                    <input id="email_address" type="email" class="form-control block-contact-us__input-field" name="email_address" required>
                    <div class="invalid-feedback">Email is empty or not valid.</div>
                </div>
            
            </div>

            <div class="row margin-bottom-2">

                <div class="col-12 animation-section fade-in-up">
                    <label for="subject">Subject</label>
                    <input id="subject" type="text" class="form-control block-contact-us__input-field" name="subject">
                </div>
            
            </div>

            <div class="row margin-bottom-2 animation-section fade-in-up">

                <div class="col-12">
                    <label for="your_message">Message <i>(required)</i></label>
                    <textarea id="your_message" name="your_message" class="form-control block-contact-us__your-message" rows="4" required></textarea>
                    <div class="invalid-feedback">Message is empty.</div>
                </div>

            </div>


            <div class="row">
                <div class="col-12">

                    <div id="genlite-contact-alert" class="text-alert"></div>
                    <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                    <button id="genlite-contact-submit-button" class="button primary-button animation-section fade-in-up" type="submit" name="submit" value="SUBMIT">Send Your Message</button>

                </div>

            </div>
            
        </form>

    </div>


</section>


<script id="render_call" async src=""></script>

<script> let publicKey = document.getElementById("recaptcha-public-key").getAttribute('data-contact-recaptcha-public-key'); 
         let renderCall = "https://www.google.com/recaptcha/api.js?render=" + publicKey;

         document.getElementById('render_call').src = renderCall;

</script>


<script>
    
    $('#genlite-contact-form').submit(function(event) {
    
        event.preventDefault(); // Prevent direct form submission
        $('#genlite-contact-alert').text('Processing...').fadeIn(0);
        
        let publicKey = document.getElementById("recaptcha-public-key").getAttribute('data-contact-recaptcha-public-key'); 
        
        grecaptcha.ready(function () {
            grecaptcha.execute(publicKey, { action: 'contact' }).then(function (token) {

                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;

                $.ajax({
                    url: 'contact-response',
                    type: 'POST',
                    data: $('#genlite-contact-form').serialize(),
                    dataType: 'json',
                    success: function( _response ){
                        
                        var error = _response.error;
                        var success = _response.success;

                        if ( error != "" ) {

                            $('#genlite-contact-alert').html(error);
                        
                        } else {

                            $('#genlite-contact-alert').html(success);
                            $('#genlite-contact-submit-button').remove();
                        }

                        
                    },
                    error: function(jqXhr, json, errorThrown){

                        var error = jqXhr.responseText;
                        $('#genlite-contact-alert').html(error);
                    }
                });
            });
        });
    });
</script>

