<section id="{{ fields.four_image_anchor_id }}" class="block-four-image">

    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2>{{ fields.four_image_title }}</h2>
                <hr>
                <p class="margin-bottom-2">{{ fields.four_image_sub_title }}</p>
            </div>

            <div class="parent">

                {% for item in fields.four_image_images %}

                    <div class="child">

                        <div class="block-four-image__image-wrapper">

                            <div class="block-four-image__image" style="background-image: url('{{ item.four_image_image.url }}');"></div>

                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>


</section>
