<section class="block-sitemap">

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">

                <h4>Pages</h4>
                <p>{{ wp_list_pages('exclude=' ~ post_id ~ '&title_li=&sort_column=post_title') }}</p>

            </div>

            <div class="col-12 col-md-6 pt-3 pt-md-0">
                <h4>Posts</h4>
                {% for blog_post in blog_posts %}
                    <li><a href="{{ blog_post.link }}">{{ blog_post.post_title }}</a></li>
                {% endfor %}
            </div>



        </div>
    </div>

</section>
