<section class="block-wide-image">

    <img class="block-wide-image__image animation-section fade-in-up" src="{{ fields.wide_image_image.url }}" alt="{{ fields.wide_image_image.alt }}"></div>

</section>
