.block-current-job-openings {
    padding: 120px 0 120px 0;

    h4 {
        font-weight: 500;
    }

    h6 {
        text-transform: uppercase;
        color: $kkr-medium-gray;
    }

    a {
        text-decoration: none;
        color: $kkr-gold;
        
        &:hover {
            text-decoration: underline;
        }
    }


}
