$genlite-primary-color: #ff4d01;
$genlite-secondary-color: black;
$genlite-light-gray: #F8F8F8;


$kkr-gold: black;
$kkr-gold-2: #c5b98d;

$kkr-light-gray: #F2F2F2;
$kkr-light-gray-2: #F5F5F3;
$kkr-light-gray-3: #00000014;
$kkr-light-gray-4: #B8B8B8;
$kkr-light-gray-5: #E1E1E0;

$kkr-medium-gray: #808080;

$kkr-light-green: #3CDBC0;

$kkr-black: #212322;

$kkr-dark-blue: #3A3A59;

$kkr-charcoal: #0A2535;

$kkr-alert: #dc3545;
