
.wp-block-image.fancyborder img {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.wp-block-button {
    color: $genlite-primary-color;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
        
    a { 
        
        color: $genlite-black !important;
    
        &:hover {
            text-decoration: none !important;
            color: white !important;
            background-position: left bottom;
        }
    }
    
    &__link {
        display: inline-block;
        font-size: 1rem;
        padding: 0.6rem 1rem !important;
        font-weight: 400;
        width: fit-content;
        border-radius: 54px;
        color: $genlite-black;
        background: linear-gradient(to right, $genlite-primary-color 50%, white 50%) no-repeat scroll right (bottom / 230%) 100%  $genlite-primary-color;
        border-width: 1.2px;
        border-style: solid;
        border-color: $genlite-primary-color;
        transition: all 0.5s ease-in-out;       
    }

    &__current {
        border-width: 2px;
    }


}

.wp-block-buttons>.wp-block-button.has-custom-width .wp-block-button__link {
    width: fit-content;
}


.wp-block-buttons>.wp-block-button.wp-block-button__width-100 {
    text-align: center;
}

.wp-block-cover {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    a {
        color: white !important;
    }
    

    p {
        color: inherit;
    }
}

