
.wp-block-image.fancyborder img {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.wp-block-button {
    color: $genlite-primary-color;
    line-height: 1;
    font-weight: 400;
    font-size: 16px;
        
    a:hover {
        text-decoration: none !important;
        color: white;
        background-position: left bottom;
    }
    
    &__link {
        display: inline-block;
        min-width: 200px;
        font-weight: 400;
        border-radius: 54px;
        padding: 15px 0 15px 0;
        color: $genlite-primary-color;
        background: linear-gradient(to right, $genlite-primary-color 50%, white 50%) no-repeat scroll right (bottom / 230%) 100%  $genlite-primary-color;
        border-width: 1.2px;
        border-style: solid;
        border-color: $genlite-primary-color;
        transition: all 0.5s ease-in-out;
        
        &:visited {
            color : $genlite-primary-color;
        }
    }


}

.wp-block-cover {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
