.website-header-desktop {

    z-index: 1;
    position: relative;
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
    }

    &-wrapper {
        padding: 5px 0 5px 0;
    }

    nav a {
        color: $genlite-black;
        text-decoration: none;
        display: inline-block;

        &.wp-block-button__link {
            padding: 0.8rem 1rem !important;
        }
    }

    .dropdown-content {
        margin-top: -3px;
        margin-left: -15px;
        text-align: left;
        display: none;
        position: fixed;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: $genlite-black;
        padding: 12px 16px;
        display: block;
        text-align: left;
        color: $genlite-primary-color;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 0.03rem;
        line-height: 1.625rem;
    }

    .dropdown-content a:hover {
        background-color: $genlite-primary-color;
        color: white !important;
        border-bottom: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    // .dropbtn.active::after,
    // a.menu-item-link:hover::after,
    // a.menu-item-link.active::after {
    //     content: " ";
    //     display: block;
    //     border-bottom: 1px solid $genlite-primary-color;
    //     border-top: 1px solid $genlite-primary-color;
    //     height: 5px;
    // }

    .dropbtn.active,
     a.menu-item-link:hover,
     a.menu-item-link.active {
        border-bottom: 3px solid $genlite-primary-color;
    }

    .active-submenu {
        background-color: $genlite-primary-color;
        color: white !important;
    }

    .submenu {
        color: black !important;  
    }

    .menu-item-link {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    .dropbtn-icon {
        padding-left: 5px;
        display: inline-block;
        height: 15px;
        width: 15px;
    }

    .dropdown {
        display: inline-block;
        float: none;
        margin-right: 30px;
    }

    .dropdown .dropbtn {
        outline: none;
        
        margin: 0;
    }

    &-logo-text-wrapper {
        width: fit-content;
    
        a {
            color: black;
            text-decoration: none;

            h3, h6 {
                margin-bottom: 0;
                font-family: 'Rubik', sans-serif;
                line-height: 1.2;
                letter-spacing: 0.05rem;
            }

        }

    }















    .mega-dropdown {
        float: left;
        overflow: hidden;
    }

    .mega-dropdown .mega-dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
   //     color: white;
        padding: 14px 16px;
        background-color: inherit;
        font: inherit;
        margin: 0;
    }

    // .navbar a:hover, .dropdown:hover .dropbtn {
    //     background-color: red;
    // }

    .mega-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .mega-dropdown-content .header {
        background: red;
        padding: 16px;
      //  color: white;
    }

    .mega-dropdown:hover .mega-dropdown-content {
        display: block;
    }

    /* Create three equal columns that floats next to each other */
    .mega-column {
        float: left;
        width: 33.33%;
        padding: 10px;
        background-color: #ccc;
        height: 250px;
    }

    .mega-column a {
        float: none;
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .mega-column a:hover {
        background-color: #ddd;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .mega-column {
            width: 100%;
            height: auto;
        }
    }



}
