.website-header {

    &__desktop {

        z-index: 1;
        position: relative;
        display: none;

        @include media-breakpoint-up(xl) {
            display: block;
        }

        &-wrapper {
            padding: 5px 0 5px 0;
        }
    
        nav a {
            color: $genlite-black;
            padding: 5px 0;
            text-decoration: none;
        }

        .dropdown-content {
            margin-left: -15px;
            text-align: left;
            padding-top: 10px;
            display: none;
            position: fixed;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: $genlite-black;
            padding: 12px 16px;
            display: block;
            text-align: left;
            color: $genlite-primary-color;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none;
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 0.03rem;
            line-height: 1.625rem;
        }

        .dropdown-content a:hover {
            background-color: $genlite-primary-color;
            color: white !important;
            border-bottom: none;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .menu-item-link:hover,
        .active {
            border-bottom: 2px solid $genlite-primary-color;
        }

        .active-submenu {
            background-color: $genlite-primary-color;
            color: white !important;
        }

        .submenu {
            color: black !important;  
        }

        .menu-item-link {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        .dropbtn-icon {
            padding-left: 5px;
            display: inline-block;
            height: 15px;
            width: 15px;
        }

        .dropdown {
            display: inline-block;
            float: none;
            margin-right: 30px;
        }

        .dropdown .dropbtn {
            outline: none;
            
            margin: 0;
        }
    }

    &__mobile {

        z-index: 2;
        position: relative;
        display: block;

        &-wrapper {
            padding: 5px 0 5px 0;
        }
      
        @include media-breakpoint-up(xl) {
            display: none;
        }

        .genlitenav--mobile {
            position: relative;
        }

        #genlite-mobile-menu-link {
            display: none;
            top: -4px;
            right: 15px;
            position: relative;
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(194deg) brightness(105%) contrast(101%);
        }

        &-plus-icon {
            height: 24px;
            width: 24px;
        }

        &-header-link-image {
            width: 24px;
            height: 24px;
        }

        .menu-wrapper {
            padding: 30px;
        }

        a.icon {
           
            position: relative;
            height: 20px;
            width: 20px;
            display: inline-block;
            text-align: right;
        }

        .logo-icon-section {
            width: 49%;
            display: inline-block;
            border: none;
            z-index: 1;
            position: relative;
        }

        .logo-icon-button {
            border: none;
            background-color: transparent;
            vertical-align: super;
        }

        .active-mobile-submenu {
            color: $genlite-primary-color !important;
        }

        .back-button-icon {
            height: 30px;
            margin-bottom: 30px;
        }


        .page-links {
            background-color: white;
            display: none;
            position: relative;
            width: 100vw;
//            height: 100vh;

            height: calc(100vh - 80px);

            

            a.submenu,
            a:not(:last-child) {
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                text-decoration: none;
                text-align: center;
                color: $genlite-black;
                font-size: 2.25rem;
                line-height: 2.7rem;
                font-weight: 300;
                letter-spacing: 0.05rem;

                &.active {
                    color: $genlite-primary-color;
                }

            }

            a:last-child {
                margin-top: 10px;
                font-size: 2.25rem;
                text-decoration: none;
            }

            

        }

        .mobile-menu-wraapper {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .wp-block-button {
            text-align: center;
            width: 100%;
        }

        &-menu-container {
            height: 100%;
            position: relative;
            margin: auto;
            width: 50%;           
        }

        &-contact-wrapper {
            padding-top: 20px;
            padding-bottom: 15px;
        }

        &-image {
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            height: 100vh;
            width: 100vw;

        }
        
        #website-mobile-menu-close {
            display: none;
        }

        &-header-container {
            margin-top: 20px;
            position: relative;
        }


        &-subnav-container {

            display: none;
            width: 100%;

        }

    }

}
