<section class="featured-hero">

    <div class="featured-hero__image fade-in-zoom" style="background-image: url('{{ post.thumbnail.src }}')">

        <div class="featured-hero__overlay"></div>

    </div>

    <div class="featured-hero__text">

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1>{{ post.title }}</h1>

                </div>
            </div>
        </div>

    </div>

</section>
