{% extends 'base.twig' %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-12">

                {% do action('woocommerce_before_main_content') %}

                <header class="woocommerce-products-header">

                    {% if fn('apply_filters', 'woocommerce_show_page_title', true) %}
                        <h1 class="woocommerce-products-header__title page-title">{{ title }}</h1>
                    {% endif %}

                    {% do action('woocommerce_archive_description') %}

                </header>

                {% if fn('woocommerce_product_loop') %}

                    {% do action('woocommerce_before_shop_loop') %}

                    {{ fn('woocommerce_product_loop_start') }}

                    {% if fn('wc_get_loop_prop', 'total') %}

                        {% for post in posts %}
                    
                            {% if fn('have_posts') %}
                    
                                {{ fn('wc_get_template_part', 'content', 'product' ) }}
                    
                            {% endif %}
                    
                        {% endfor %}
                    
                    {% endif %}

                    {{ fn('woocommerce_product_loop_end') }}

                    {% do action('woocommerce_after_shop_loop') %}

                {% else %}

                    {% do action( 'woocommerce_no_products_found' ) %}

                {% endif %}

                {% do action('woocommerce_after_main_content') %}
                {% do action('woocommerce_sidebar') %}

            </div>
        </div>
    </div>

{% endblock %}
