{% extends 'base.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">

                {% do action('woocommerce_before_main_content') %}
                 {% do action('woocommerce_before_shop_loop') %}
            
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {# <div class="col-12">

                {% do action('woocommerce_before_shop_loop') %}


            </div> #}


            {% for post in products %}
            
                <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                
                    {% include ["parts/tease-product.twig"] %}
                
                </div>
            
            {% endfor %}

        </div>
    </div>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}
