{% extends 'base.twig' %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}
    {% do action('woocommerce_before_single_product') %}

    {% if fn('post_password_required') %}

        {{ fn('get_the_password_form') }}

    {% else %}

     <div class="container">
        <div class="row">

            <div class="col-12">


                <article id="product-{{ post.id }}" {{ fn('wc_product_class', '', product) }}>
                
                    {% do action('woocommerce_before_single_product_summary') %}

                    <div class="summary entry-summary">

                        {% do action('woocommerce_single_product_summary') %}
                    
                    </div>

                    {% do action('woocommerce_after_single_product_summary') %}
                
                </article>

            </div>
        </div>
    </div>

        {% do action('woocommerce_after_single_product') %}

    {% endif %}

    {% do action('woocommerce_after_main_content') %}
    {% do action('woocommerce_sidebar') %}

{% endblock %}
