.genlite-archive-title
    position: relative
    padding: 0
    margin: 20px 0 20px 0
    color: #080808
    transition: all 0.4s ease 0s

    h1
        text-align: center
        color:#222
        letter-spacing: 1px
        text-transform: uppercase
        display: grid
        grid-template-columns: 1fr max-content 1fr
        grid-template-rows: 27px 0
        grid-gap: 20px
        margin-left: auto
        margin-right: auto
        height: 0px
        line-height: 0
        font-size: 20px

        @include media-breakpoint-up(sm)
            font-size: 40px

    
        &:after,
        &:before 
            content: " "
            display: block
            border-bottom: 1px solid  $genlite-primary-color
            border-top: 1px solid  $genlite-primary-color
            height: 5px
            background-color: #f8f8f8
            // margin-top: 25px

            // @include media-breakpoint-up(sm)
            //     content: " "


.form-control:focus
    border-color: $genlite-primary-color
    box-shadow: 0 0 0 0.2rem rgba(255, 77, 1,.25)


.post-template-default
    &__next-prev
        a
            opacity: 1
            color: black
        i 
            color: $genlite-primary-color



select option[hover]
    background: rgba(150, 150, 150, 0.3)


.genlite-archive
    
    &__container
        display: flex
        flex-flow: row wrap
        justify-content: space-around
        padding: 0
        margin: 0
        list-style: none


    &__card
        border: none
        border-radius: 0px
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)  
        width: 350px
        height: 100%
        margin: 20px
        color: white

        a
            text-decoration: none

        &-header-placeholder
            position: relative
            overflow: hidden
            display: flex
            flex-direction: column
            width: 100%
            height: 230px

            @include media-breakpoint-only(lg)
                height: 280px

            @include media-breakpoint-only(xl)
                height: 305px

            &-image
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                max-width: 100%
                transition: transform 0.3s ease-in-out


        &-body
            padding: 10px
            height: 200px
        &-footer
            padding: 10px
            height: 60px

            iframe
                width: 100%
      
        &:hover .genlite-archive__card-header-placeholder-image
            transform: scale(1.2)
            
        &:hover .genlite-archive__card-footer,
        &:hover .genlite-archive__card-footer h6,
        &:hover .genlite-archive__card-body,
        &:hover .genlite-archive__card-body h5
            background-color: $genlite-secondary-color
            color: white

.genlite-archive__more-posts-button
    margin-left: auto
    margin-right: auto
    width: max-content
